{% extends "base.html" %}

{% block title %}Home{% endblock title %}Home

{% block content %}
<div style="background-color: rgb(219, 219, 219);">
  <h1 style="text-align: center;">Landon's Beverage Assemblage </h1>
  <div>
      <h2 style="text-decoration: underline; text-align: center;">About Assemblage</h2>
        <p>This web page is meant to:
          <ul>
            <li>Display a collection of beverages</li>
            <li>Allow users to:</li>
              <ul>
                <li>Create beverage</li>
                <li>Update beverage</li>
                <li>Delete beverage</li>
              </ul>
            <li>View contact information for Landon (inaccurate information)</li>
          </ul>
        </p>
  </div>
</div>
{% endblock content %}